#tabWork {
    padding: 20px;
  }

  
  
  table {
    width: calc(100% / 2);
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #846c21;
  }

  td {
    border: 1px solid #999;
    padding: 4px;
  }
  